.titulo-habilidad{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Color para el título */
}

.habilidad{
    text-align: center;  /* Centra el contenido */
    margin-top: 50px;    /* Espacio superior */
}

.iconos-habilidades{
    display: flex; /* Para ponerlos en línea */
    justify-content: center; /* <-- Esto centra horizontalmente */
    gap: 15px; /* Espacio entre las imágenes */
    align-items: center; /* Centra los iconos verticalmente */
}

.lista-habilidades{ 
    display: flex; /*para colocar los div horizontalmente*/
    flex-wrap: wrap; /*es en caso de que se anexen mas div, los div no se salgan de la pantalla sino que coloquen abajo*/
    /*flex-direction: row;*/
    justify-content: center; /* Centrarlos horizontalmente */
    align-items: flex-start;
    gap: 60px; /* o usa margin-right en el primer hijo esto para separar los div horizontalmente */
    padding: 20px; /* Espacio interno para que no estén pegados a los bordes */
    margin: 0 auto; /* Centrar el contenedor en la página */
}